<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>J3NS | Profile </title>

    <!-- Favicon -->
    <%- include('favicon'); %>

    <!-- Bootstrap -->
    <link href="vendors/bootstrap/dist/css/bootstrap.min.css" type="text/css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="vendors/font-awesome/css/font-awesome.min.css" type="text/css" rel="stylesheet">
    <!-- NProgress: Top load animation-->
    <link href="vendors/nprogress/nprogress.css" type="text/css" rel="stylesheet">
    <!-- Bootstrap daterangepicker-->
    <link href="vendors/bootstrap-daterangepicker/daterangepicker.css" type="text/css" rel="stylesheet">
    <!--bootstrap-progressbar -->
    <link href="vendors/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css" type="text/css" rel="stylesheet">
    <!--Code 9-->
    <link href="vendors/Code-9/css/code9.css" type="text/css" rel="stylesheet">
    <!-- PNotify -->
    <link href="vendors/pnotify/dist/pnotify.css" type="text/css" rel="stylesheet">
    <link href="vendors/pnotify/dist/pnotify.buttons.css" type="text/css" rel="stylesheet">
    <link href="vendors/pnotify/dist/pnotify.nonblock.css" type="text/css" rel="stylesheet">
    <!-- Custom Theme Style -->
    <link href="stylesheets/custom.css" rel="stylesheet">
    <link href="stylesheets/custom.min.css" rel="stylesheet">
</head>

<body class="nav-md">
<div class="container body">
    <div class="main_container">
        <!-- Sidebar -->
        <%- include('sidebar'); %>

        <!-- top navigation -->
        <%- include('top_nav'); %>
        <!-- /top navigation -->

        <!-- page content -->
        <div class="right_col" role="main">
            <div class="">
                <div class="page-title">
                    <div class="title_left">
                        <h3>User Profile</h3>
                    </div>

                    <div class="title_right">

                    </div>
                </div>

                <div class="clearfix"></div>

                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="x_panel">
                            <div class="x_title">
                                <h2>Welcome Back</h2>
                                <ul class="nav navbar-right panel_toolbox">
                                    <li style="float:right"><a class="collapse-link"><i
                                                    class="fa fa-chevron-up"></i></a>
                                    </li>
                                </ul>
                                <div class="clearfix"></div>
                            </div>
                            <div class="x_content">
                                <div class="col-md-3 col-sm-3 col-xs-12 profile_left">
                                    <div class="profile_img">
                                        <div id="crop-avatar">
                                            <!-- Current avatar -->
                                            <img id="pro_image" style="height:300px;width:80%;" class="img-responsive avatar-view" src="images/user.jpg"
                                                 alt="Avatar" title="Change the avatar">
                                        </div>
                                    </div>
                                    <h3 id="empName"></h3>

                                    <ul class="list-unstyled user_data">
                                        <li id="empRole">
                                            <i class="fa fa-briefcase user-profile-icon"></i>
                                        </li>
                                        <li id="empPhoneNum">
                                            <i class="fa fa-phone user-profile-icon"></i>
                                        </li>
                                        <li id="empEmail">
                                            <i class="fa fa-envelope user-profile-icon"></i>
                                        </li>
                                    </ul>

                                    <!-- EDIT PROFILE BUTTON-->
                                    <a aria-labelledby="profile-tab" id="editbutton" href="#tab_content3"
                                       aria-expanded="false" data-toggle="tab" class="btn btn-kpmg"><i
                                                class="fa fa-edit m-right-xs"></i> Edit Profile</a>
                                    <br/>

                                    <!-- start skills -->
                                    <div id="user-skills">
                                        <h4>Skills</h4>
                                        <ul id="empSkill" class="list-unstyled user_data">
                                        </ul>
                                    </div>
                                    <!-- end of skills -->
                                </div>

                                <div class="col-md-9 col-sm-9 col-xs-12">

                                    <div class="" role="tabpanel" data-example-id="togglable-tabs">
                                        <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
                                            <li role="presentation" class="active"><a href="#tab_content1" id="home-tab"
                                                                                      role="tab" data-toggle="tab"
                                                                                      aria-expanded="true">Tasks
                                                    Todo</a></li>
                                            <li role="presentation" class=""><a href="#tab_content2" role="tab"
                                                                                id="profile-tab" data-toggle="tab"
                                                                                aria-expanded="false">Projects Worked
                                                    on</a></li>
                                            <li role="presentation" class=""><a href="#tab_content3" role="tab"
                                                                                id="profile-tab2" data-toggle="tab"
                                                                                aria-expanded="false">Edit Profile</a>
                                            </li>
                                        </ul>

                                        <div id="myTabContent" class="tab-content">
                                            <div role="tabpanel" class="tab-pane fade active in" id="tab_content1"
                                                 aria-labelledby="home-tab">
                                                <!-- start Tasks to do -->
                                                <!-- TODO START jquery-->
                                                <ul id="empMilestones" class="messages">

                                                </ul>
                                                <!-- end recent activity -->
                                            </div>
                                            <div role="tabpanel" class="tab-pane fade" id="tab_content2"
                                                 aria-labelledby="profile-tab">
                                                <!-- start user projects -->
                                                <table class="data table table-striped no-margin">
                                                    <thead>
                                                    <tr>
                                                        <th>#</th>
                                                        <th>Project Name</th>
                                                        <th>Client</th>
                                                        <th class="hidden-phone">Date Started</th>
                                                        <th class="hidden-phone">Date Ended</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody id="emp_past_proj">
                                                    </tbody>
                                                </table>
                                                <!-- end user projects -->
                                            </div>
                                            <!-- Profile Bio-->
                                            <div role="tabpanel" class="tab-pane fade" id="tab_content3"
                                                 aria-labelledby="profile-tab">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="input-group image-preview">
                                                            <input type="text"
                                                                   class="form-control image-preview-filename"
                                                                   disabled="disabled">
                                                            <!-- don't give a name === doesn't send on POST/GET -->
                                                            <span class="input-group-btn">
                                                                        <!-- image-preview-clear button -->
                                                                        <button type="button"
                                                                                class="btn btn-default image-preview-clear"
                                                                                style="display:none;">
                                                                            <span class="glyphicon glyphicon-remove"></span> Clear
                                                                        </button>
                                                                <!-- image-preview-input -->
                                                                        <div class="btn btn-default image-preview-input">
                                                                            <span class="glyphicon glyphicon-folder-open"></span>
                                                                            <span class="image-preview-input-title">Choose Profile Picture</span>
                                                                            <input id="pic" type="file"
                                                                                   accept="image/png, image/jpeg, image/gif"
                                                                                   name="input-file-preview"/>
                                                                            <!-- rename it -->
                                                                        </div>
                                                                    </span>
                                                        </div><!-- /input-group image-preview [TO HERE]-->
                                                        <input id="updateImage" class="btn btn-dark docs-tooltip"
                                                               data-toggle="tooltip" value="Update Image" type="submit"
                                                        />
                                                    </div>
                                                    <div class="col-md-6">
                                                        <label for="oldpassword">Password: *</label>
                                                        <input type="password" id="password" name="oldpassword"
                                                               class="form-control" placeholder="Password"
                                                               required/>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <label for="newpassword">Confirm Password: *</label>
                                                        <input type="password" id="confirm_password" name="newpassword"
                                                               class="form-control" placeholder="Confirm Password"
                                                               required/>
                                                    </div>
                                                </div>
                                                <div>
                                                    <br/>
                                                    <input id="updatePassword" class="btn btn-dark docs-tooltip"
                                                           data-toggle="tooltip" title="Update Password" type="submit"
                                                           value="Update Password"/>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /page content -->

        <!-- footer content -->
        <footer>
            <div class="pull-right">Gentelella - Bootstrap Admin Template by <a href="https://colorlib.com">Colorlib</a>
            </div>
            <div class="clearfix"></div>
        </footer>
        <!-- /footer content -->

    </div>
</div>

<!-- jQuery -->
<script type="text/javascript" src="vendors/jquery/dist/jquery.min.js"></script>
<!-- Bootstrap -->
<script type="text/javascript" src="vendors/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- Code 9-->
<script type="text/javascript" src="vendors/Code-9/js/bottombar.js"></script>
<script type="text/javascript" src="vendors/Code-9/js/image-upload.js"></script>
<!-- FastClick: Increase load time-->
<script type="text/javascript" src="vendors/fastclick/lib/fastclick.js"></script>
<!-- NProgress: Top load animation-->
<script type="text/javascript" src="vendors/nprogress/nprogress.js"></script>
<!-- morris.js: Graphs-->
<script type="text/javascript" src="vendors/raphael/raphael.min.js"></script>
<script type="text/javascript" src="vendors/morris.js/morris.min.js"></script>
<!-- bootstrap-progressbar -->
<script type="text/javascript" src="vendors/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>
<!-- bootstrap-daterangepicker -->
<script type="text/javascript" src="vendors/moment/min/moment.min.js"></script>
<script type="text/javascript" src="vendors/bootstrap-daterangepicker/daterangepicker.js"></script>
<script type="text/javascript" src="vendors/Code-9/views/profile.js"></script>
<!-- PNotify -->
<script type="text/javascript" src="vendors/pnotify/dist/pnotify.js"></script>
<script type="text/javascript" src="vendors/pnotify/dist/pnotify.buttons.js"></script>
<script type="text/javascript" src="vendors/pnotify/dist/pnotify.nonblock.js"></script>
<!-- Custom Theme Scripts -->
<script type="text/javascript" src="javascripts/custom.js"></script>



</body>
</html>
