<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>KPMG | Register</title>

    <!-- Favicon -->
    <%- include('favicon'); %>

    <!-- Stylesheets -->
    <%- include('stylesheets'); %>
</head>
<body class="nav-md">
<div class="container body">
    <div class="main_container">
        <!-- Sidebar -->
        <%- include('sidebar'); %>

        <!-- top navigation -->
        <%- include('top_nav'); %>
        <!-- /top navigation -->



        <!-- page content -->
        <div class="right_col" role="main">
            <h2>New Project<small>&nbsp;&nbsp;&nbsp;Create a new project</small></h2>
            <hr/>
            <!--<ul class="nav navbar-right panel_toolbox">-->
            <!--<li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>-->
            <!--</li>-->
            <!--<li class="dropdown">-->
            <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>-->
            <!--<ul class="dropdown-menu" role="menu">-->
            <!--<li><a href="#">Settings 1</a>-->
            <!--</li>-->
            <!--<li><a href="#">Settings 2</a>-->
            <!--</li>-->
            <!--</ul>-->
            <!--</li>-->
            <!--</ul>-->
            <div class="clearfix"></div>
            <!-- start form for validation -->
            <form id="demo-form" data-parsley-validate action="project_creation" method="post">

                <div class="row">
                    <div class="col-md-6">
                        <label for="projectname">Project Name: *</label>
                        <input type="text" id="projectname" class="form-control" name="projectname" required />
                    </div>

                    <div class="col-md-6">
                        <label>Project Date: *</label>
                        <br/>
                        <div class="col-md-5">
                            <label>Start Date: </label>
                            <input class="form-control" type="date" required/>
                        </div>

                        <div class="col-md-5 col-md-offset-1">
                            <label>End Date: </label>
                            <input class="form-control" type="date" required/>
                        </div>
                    </div>
                </div>

                <br/>
                <div class="row">
                    <div class="col-md-6">
                        <label for="projectdescription">Project Description (minimum of 20 characters, max of 150) : *</label>
                        <textarea id="projectdescription" rows="4" required="required" class="form-control" name="projectdescription" data-parsley-trigger="keyup" data-parsley-minlength="20" data-parsley-maxlength="150" data-parsley-minlength-message="You need to enter at least a 20 characters long description.."
                                  data-parsley-validation-threshold="10"></textarea>
                    </div>
                    <!-- Skills required-->
                    <div class="col-md-6">
                        <label class="control-label">Skill Tags</label>
                        <input id="tags_1" type="text" class="tags form-control" value="MS Office, Accounting Skills, Auditor" data-parsley-trigger="change" required  />
                        <!--<div id="suggestions-container" style="position: relative; float: left; width: 250px; margin: 10px;"></div>-->
                    </div>
                </div>

                <!--TODO Fix employee allocation format Make it a table on click-->
                <!-- TODO ask KPMG about min team size-->
                <!-- Employees-->
                <label>Employee Allocation</label><br/>
                <div class="row">
                    <!--<div class="col-md-2 col-sm-2 col-xs-12">-->
                        <!--<label>No. of Employees: *</label>-->
                        <!--<input type="number" id="numemp" value="" min="0" name="numemp" placeholder="Other amount" />-->
                    <!--</div>-->
                    <div class="col-md-4 col-sm-4 col-xs-12">

                        <input type="text" id="range_31" value="" name="numemp" />
                        <br/>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-12">
                        <label>Project Budget: *</label><br/><span> R</span>
                        <input id="budget" name="budget" type="number" min="0.00" step="1" placeholder="0.00" />
                    </div>
                    <div class="col-md-3">
                    <span class="docs-tooltip" data-toggle="tooltip" title="Click to generate employees">
                        <button id="assignEmployees" type="button" class="btn btn-dark "><span class="fa fa-users"></span> Allocate Employees</button>
                    </span>
                    </div>
                </div>

                <!-- TODO show this table once button is clicked-->
                <div class="">
                    <div id="employeeTable" class="x_panel">
                    </div>
                </div>
                <br/><hr/>
                <div class="row">
                    <!-- Project Owner Details-->
                    <div class="col-md-6">
                        <label for="projectowner">Project Owner: *</label>
                        <input type="text" id="projectowner" class="form-control" name="projectowner" required />

                        <label for="projectowneremail">Project Owner Email: *</label>
                        <input type="email" id="projectowneremail" class="form-control" name="projectowneremail" data-parsley-trigger="change" required />

                        <label class="control-label">Contact Number: *</label>
                        <input type="text" class="form-control" data-inputmask="'mask' : '(999) 999 - 9999'" data-parsley-trigger="change" required >
                    </div>
                    <!-- Project Manger Details-->
                    <!--<div class="col-md-6">-->
                    <!--<label for="projectmanager">Project Manager: *</label>-->
                    <!--<input type="text" id="projectmanager" class="form-control" name="projectmanager" required />-->

                    <!--<label for="projectmanageremail">Project Manager Email: *</label>-->
                    <!--<input type="email" id="projectmanageremail" class="form-control" name="projectmanageremail" data-parsley-trigger="change" required />-->

                    <!--<label class="control-label">Contact Number: *</label>-->
                    <!--<input type="text" class="form-control" data-inputmask="'mask' : '(999) 999 - 9999'" data-parsley-trigger="change" required >-->
                    <!--</div>-->
                </div>
                <br/><hr/>
                <br/>
                <input id="createProjectbtn" class="btn btn-dark docs-tooltip" data-toggle="tooltip" title="Confirm new project creation" type="submit" value="Create Project">

            </form>
            <!-- end form for validations -->
        </div>
        <!-- /page content -->

        <!-- footer content -->
        <footer>
            <div class="pull-right">
                Gentelella - Bootstrap Admin Template by <a href="https://colorlib.com">Colorlib</a>
            </div>
            <div class="clearfix"></div>
        </footer>
        <!-- /footer content -->
    </div>
</div>

<!-- jQuery -->
<script src="vendors/jquery/dist/jquery.min.js"></script>
<!-- Bootstrap -->
<script src="vendors/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- FastClick -->
<script src="vendors/fastclick/lib/fastclick.js"></script>
<!-- NProgress -->
<script src="vendors/nprogress/nprogress.js"></script>
<!-- Chart.js -->
<script src="vendors/Chart.js/dist/Chart.min.js"></script>
<!-- gauge.js -->
<script src="vendors/gauge.js/dist/gauge.min.js"></script>
<!-- bootstrap-progressbar -->
<script src="vendors/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>
<!-- Parsley -->
<script src="vendors/parsleyjs/dist/parsley.min.js"></script>
<!-- iCheck -->
<script src="vendors/iCheck/icheck.min.js"></script>
<!-- Skycons -->
<script src="vendors/skycons/skycons.js"></script>
<!-- Flot -->
<script src="vendors/Flot/jquery.flot.js"></script>
<script src="vendors/Flot/jquery.flot.pie.js"></script>
<script src="vendors/Flot/jquery.flot.time.js"></script>
<script src="vendors/Flot/jquery.flot.stack.js"></script>
<script src="vendors/Flot/jquery.flot.resize.js"></script>
<!-- Flot plugins -->
<script src="vendors/flot.orderbars/js/jquery.flot.orderBars.js"></script>
<script src="vendors/flot-spline/js/jquery.flot.spline.min.js"></script>
<script src="vendors/flot.curvedlines/curvedLines.js"></script>
<!-- DateJS -->
<script src="vendors/DateJS/build/date.js"></script>
<!-- JQVMap -->
<script src="vendors/jqvmap/dist/jquery.vmap.js"></script>
<script src="vendors/jqvmap/dist/maps/jquery.vmap.world.js"></script>
<script src="vendors/jqvmap/examples/js/jquery.vmap.sampledata.js"></script>
<!-- bootstrap-daterangepicker -->
<script src="vendors/moment/min/moment.min.js"></script>
<script src="vendors/bootstrap-daterangepicker/daterangepicker.js"></script>
<!-- jquery.inputmask -->
<script src="vendors/jquery.inputmask/dist/min/jquery.inputmask.bundle.min.js"></script>
<!-- jQuery Tags Input -->
<script src="vendors/jquery.tagsinput/src/jquery.tagsinput.js"></script>
<!-- Datatables -->
<script src="vendors/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="vendors/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
<script src="vendors/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
<script src="vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>
<script src="vendors/datatables.net-buttons/js/buttons.flash.min.js"></script>
<script src="vendors/datatables.net-buttons/js/buttons.html5.min.js"></script>
<script src="vendors/datatables.net-buttons/js/buttons.print.min.js"></script>
<script src="vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js"></script>
<script src="vendors/datatables.net-keytable/js/dataTables.keyTable.min.js"></script>
<script src="vendors/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
<script src="vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>
<script src="vendors/datatables.net-scroller/js/dataTables.scroller.min.js"></script>
<script src="vendors/jszip/dist/jszip.min.js"></script>
<script src="vendors/pdfmake/build/pdfmake.min.js"></script>
<script src="vendors/pdfmake/build/vfs_fonts.js"></script>
<!-- Ion.RangeSlider -->
<script src="vendors/ion.rangeSlider/js/ion.rangeSlider.min.js"></script>

<!-- Custom Theme Scripts -->
<script src="/javascripts/custom.js"></script>
<!--Custom js
-->
<script src="/javascripts/code9/code9Custom.js"></script>
</body>
</html>
