<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>KPMG | Register</title>

    <!-- Favicon -->
    <%- include('favicon'); %>

    <!-- Stylesheets -->
    <!-- Bootstrap -->
    <link href="vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- NProgress -->
    <link href="vendors/nprogress/nprogress.css" rel="stylesheet">
    <!-- Animate.css -->
    <link href="vendors/animate.css/animate.min.css" rel="stylesheet">
    <!-- Datatables -->
    <link href="vendors/datatables.net/datatables.net-bs/css/dataTables.bootstrap.min.css" type="text/css"
          rel="stylesheet">
    <link href="vendors/datatables.net/datatables.net-buttons-bs/css/buttons.bootstrap.min.css" type="text/css"
          rel="stylesheet">
    <link href="vendors/datatables.net/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css" type="text/css"
          rel="stylesheet">
    <link href="vendors/datatables.net/datatables.net-responsive-bs/css/responsive.bootstrap.min.css" type="text/css"
          rel="stylesheet">
    <link href="vendors/datatables.net/datatables.net-scroller-bs/css/scroller.bootstrap.min.css" type="text/css"
          rel="stylesheet">
    <!-- Ion.RangeSlider -->
    <link href="vendors/normalize-css/normalize.css" type="text/css" rel="stylesheet">
    <link href="vendors/ion.rangeSlider/css/ion.rangeSlider.css" type="text/css" rel="stylesheet">
    <link href="vendors/ion.rangeSlider/css/ion.rangeSlider.skinFlat.css" type="text/css" rel="stylesheet">

    <link rel="stylesheet" href="vendors/Code-9/demo.css" media="screen">
    <link rel="stylesheet" href="vendors/Code-9/demo-print.css" media="print">

    <!-- Custom Theme Style -->
    <link href="stylesheets/custom.min.css" rel="stylesheet">

    <style media="screen">
        #holder {
            height: 400px;
            margin: -200px 0 0 -200px;
            width: 400px;
        }
    </style>
</head>
<body class="nav-md">
<div class="container body">
    <div class="main_container">
        <!-- Sidebar -->
        <%- include('sidebar'); %>

        <!-- top navigation -->
        <%- include('top_nav'); %>
        <!-- /top navigation -->

        <!-- page content -->
        <div class="right_col" role="main">
            <div class="title_left">
                <h3>New Project
                    <small>Create a new project</small>
                </h3>
            </div>

            <hr/>

            <div class="clearfix"></div>
            <!-- start form for validation -->
            <form id="demo-form" data-parsley-validate action="project_creation" method="post">

                <div class="row">
                    <div class="col-md-6">
                        <label for="projectname">Project Name: *</label>
                        <input type="text" id="projectname" class="form-control" name="projectname" required/>
                    </div>

                    <div class="col-md-6">
                        <label>Project Date: *</label>
                        <br/>
                        <div class="col-md-5">
                            <label>Start Date: </label>
                            <input name="start_date" class="form-control" type="date" required/>
                        </div>

                        <div class="col-md-5 col-md-offset-1">
                            <label>End Date: </label>
                            <input name="end_date" class="form-control" type="date" required/>
                        </div>
                    </div>
                </div>

                <br/>
                <div class="row">
                    <div class="col-md-6">
                        <label for="projectdescription">Project Description (minimum of 20 characters, max of 150) :
                            *</label>
                        <textarea id="projectdescription" rows="4" required="required" class="form-control"
                                  name="projectdescription" data-parsley-trigger="keyup" data-parsley-minlength="20"
                                  data-parsley-maxlength="150"
                                  data-parsley-minlength-message="You need to enter at least a 20 characters long description.."
                                  data-parsley-validation-threshold="10"></textarea>
                    </div>
                    <!-- Skills required-->
                    <div class="col-md-6">
                        <label class="control-label">Skill Tags</label>
                        <input id="tags_1" type="text" class="tags form-control"
                               value="MS Office, Accounting Skills, Auditor" data-parsley-trigger="change" required/>
                        <!--<div id="suggestions-container" style="position: relative; float: left; width: 250px; margin: 10px;"></div>-->
                    </div>
                </div>

                <!--TODO Fix employee allocation format Make it a table on click-->
                <!-- TODO ask KPMG about min team size-->
                <!-- Employees-->
                <label>Employee Allocation</label><br/>
                <div class="row">
                    <!--<div class="col-md-2 col-sm-2 col-xs-12">-->
                    <!--<label>No. of Employees: *</label>-->
                    <!--<input type="number" id="numemp" value="" min="0" name="numemp" placeholder="Other amount" />-->
                    <!--</div>-->
                    <div class="col-md-4 col-sm-4 col-xs-12">

                        <input type="text" id="range_31" value="" name="numemp"/>
                        <br/>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-12">
                        <label>Project Budget: *</label><br/><span> R</span>
                        <input id="budget" name="budget" type="number" min="0.00" step="1" placeholder="0.00"/>
                    </div>
                    <div class="col-md-3">
                            <span class="docs-tooltip" data-toggle="tooltip" title="Click to generate employees">
                                <button id="assignEmployees" type="button" class="btn btn-dark "><span
                                            class="fa fa-users"></span> Allocate Employees</button>
                            </span>
                    </div>
                </div>

                <!-- TODO show this table once button is clicked, hide div first-->
                <div id="empTableHide">
                    <div id="employeeTable" class="x_panel"></div>
                    <div id="employeeTable1" class="x_panel"></div>
                </div>
                <br/>


                <div class="row">
                    <!-- Project Owner Details-->
                    <div class="col-md-6">
                        <label for="projectowner">Project Owner: *</label>
                        <input type="text" id="projectowner" class="form-control" name="projectowner" required/>

                        <label for="projectowneremail">Project Owner Email: *</label>
                        <input type="email" id="projectowneremail" class="form-control" name="projectowneremail"
                               data-parsley-trigger="change" required/>

                        <label class="control-label">Contact Number: *</label>
                        <input type="text" class="form-control" data-inputmask="'mask' : '(999) 999 - 9999'"
                               data-parsley-trigger="change" required>
                    </div>
                    <!-- Project Manger Details-->
                    <!--<div class="col-md-6">-->
                    <!--<label for="projectmanager">Project Manager: *</label>-->
                    <!--<input type="text" id="projectmanager" class="form-control" name="projectmanager" required />-->

                    <!--<label for="projectmanageremail">Project Manager Email: *</label>-->
                    <!--<input type="email" id="projectmanageremail" class="form-control" name="projectmanageremail" data-parsley-trigger="change" required />-->

                    <!--<label class="control-label">Contact Number: *</label>-->
                    <!--<input type="text" class="form-control" data-inputmask="'mask' : '(999) 999 - 9999'" data-parsley-trigger="change" required >-->
                    <!--</div>-->
                </div>
                <br/>
                <hr/>
                <br/>
                <input id="storeEmp" class="btn btn-dark docs-tooltip" data-toggle="tooltip"
                        value="Store Employees">
                <input id="createProjectbtn" class="btn btn-dark docs-tooltip" data-toggle="tooltip"
                       title="Confirm new project creation" type="submit" value="Create Project">
            </form>
            <div class="row">
                <div style="margin-top: 300px" class="col-md-offset-4 col-md-4">
                    <div id="animation">
                        <div id="holder"></div>
                    </div>
                </div>
            </div>
            <!-- end form for validations -->
        </div>
        <!-- /page content -->

        <!-- footer content -->
        <footer>
            <div class="pull-right">
                Gentelella - Bootstrap Admin Template by <a href="https://colorlib.com">Colorlib</a>
            </div>
            <div class="clearfix"></div>
        </footer>
        <!-- /footer content -->
    </div>
</div>
<script>
    function h() {
        $.get("helpme",{id:"friend"});
    }
</script>

<!-- jQuery -->
<script type="text/javascript" src="vendors/jquery/dist/jquery.min.js"></script>
<!-- Bootstrap -->
<script type="text/javascript" src="vendors/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- FastClick: Increase load time-->
<script type="text/javascript" src="vendors/fastclick/lib/fastclick.js"></script>
<!-- NProgress: Top load animation-->
<script type="text/javascript" src="vendors/nprogress/nprogress.js"></script>
<!-- jquery.inputmask -->
<script type="text/javascript" src="vendors/jquery.inputmask/dist/min/jquery.inputmask.bundle.min.js"></script>
<!-- jQuery Tags Input -->
<script type="text/javascript" src="vendors/jquery.tagsinput/src/jquery.tagsinput.js"></script>
<!-- Code 9 -->
<script type="text/javascript" src="js/code9/js/code9Custom.js"></script>
<script type="text/javascript" src="vendors/Code-9/js/animation.js"></script>
<script type="text/javascript" src="vendors/Code-9/js/fullscreen.js"></script>
<script type="text/javascript" src="vendors/Code-9/views/project_creation.js"></script>
<!-- Parsley -->
<script type="text/javascript" src="vendors/parsleyjs/dist/parsley.min.js"></script>
<!-- Moment for some reason is needed for the tags in this one  -->
<script type="text/javascript" src="vendors/moment/min/moment.min.js"></script>
<!-- Datatables -->
<script type="text/javascript" src="vendors/datatables.net/datatables.net/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="vendors/datatables.net/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
<script type="text/javascript" src="vendors/datatables.net/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
<script type="text/javascript" src="vendors/datatables.net/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>
<script type="text/javascript" src="vendors/datatables.net/datatables.net-buttons/js/buttons.flash.min.js"></script>
<script type="text/javascript" src="vendors/datatables.net/datatables.net-buttons/js/buttons.html5.min.js"></script>
<script type="text/javascript" src="vendors/datatables.net/datatables.net-buttons/js/buttons.print.min.js"></script>
<script type="text/javascript" src="vendors/datatables.net/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js"></script>
<script type="text/javascript" src="vendors/datatables.net/datatables.net-keytable/js/dataTables.keyTable.min.js"></script>
<script type="text/javascript" src="vendors/datatables.net/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
<script type="text/javascript" src="vendors/datatables.net/datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>
<script type="text/javascript" src="vendors/datatables.net/datatables.net-scroller/js/dataTables.scroller.min.js"></script>
<script type="text/javascript" src="vendors/datatables.net/jszip/dist/jszip.min.js"></script>
<script type="text/javascript" src="vendors/datatables.net/pdfmake/build/pdfmake.min.js"></script>
<script type="text/javascript" src="vendors/datatables.net/pdfmake/build/vfs_fonts.js"></script>
<!-- Ion.RangeSlider -->
<script type="text/javascript" src="vendors/ion.rangeSlider/js/ion.rangeSlider.min.js"></script>

<!-- Custom Theme Scripts -->
<script type="text/javascript" src="javascripts/custom.js"></script>
<script type="text/javascript" src="vendors/Code-9/raphael.js"></script>
</body>
</html>
