<%- include('header'); %>

<body class="nav-md">
<div class="container body">
    <div class="main_container">
        <div class="col-md-3 left_col">
            <div class="left_col scroll-view">
                <!-- KPMG Logo Side Bar-->
                <div class="navbar nav_title" style="border: 0;">
                    <a href="index.html" class="site_title"><img src="images/logo/KPMG_Square_White.png" width="55px" height="55px"></a>
                </div>

                <div class="clearfix"></div>

                <!-- menu profile quick info -->
                <div class="profile clearfix">
                    <div class="profile_pic">
                        <img src="images/default_user.png" alt="..." class="img-circle profile_img">
                    </div>
                    <div class="profile_info">
                        <span>Welcome,</span>
                        <h2>John Doe</h2>
                    </div>
                </div>
                <!-- /menu profile quick info -->

                <br />

                <!-- sidebar menu -->
                <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                    <div class="menu_section">
                        <h3>General</h3>
                        <ul class="nav side-menu">
                            <li><a><i class="fa fa-home"></i> Home <span class="fa fa-chevron-down"></span></a>
                                <ul class="nav child_menu">
                                    <li><a href="index.html">Dashboard<span class="label label-success pull-right">Coming Soon</span></a></li>
                                    <li><a href="inbox.html">Inbox <span class="label label-success pull-right">Coming Soon</span></a></li>
                                    <li><a href="calendar.html">Calendar<span class="label label-success pull-right">Coming Soon</span></a></li>
                                </ul>
                            </li>
                            <li><a><i class="fa fa-user"></i> Admin <span class="fa fa-chevron-down"></span></a>
                                <ul class="nav child_menu">
                                    <li><a href="register.html">Register User</a></li>
                                    <li><a href="profile.html">Profile <span class="label label-success pull-right">Coming Soon</span></a></li>
                                    <li><a href="projects.html">Projects</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- /sidebar menu -->

                <!-- /menu footer buttons -->
                <div class="sidebar-footer hidden-small">
                    <a data-toggle="tooltip" data-placement="top" title="Settings">
                        <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                    </a>
                    <a data-toggle="tooltip" data-placement="top" title="FullScreen">
                        <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
                    </a>
                    <a data-toggle="tooltip" data-placement="top" title="Lock">
                        <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
                    </a>
                    <a data-toggle="tooltip" data-placement="top" title="Logout" href="login.html">
                        <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
                    </a>
                </div>
                <!-- /menu footer buttons -->
            </div>
        </div>

        <!-- top navigation -->
        <div class="top_nav">
            <div class="nav_menu">
                <nav>
                    <div class="nav toggle">
                        <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                    </div>

                    <ul class="nav navbar-nav navbar-right">
                        <li class="">
                            <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                <img src="images/default_user.png" alt="">John Doe
                                <span class=" fa fa-angle-down"></span>
                            </a>
                            <ul class="dropdown-menu dropdown-usermenu pull-right">
                                <li><a href="javascript:;"> Profile</a></li>
                                <li>
                                    <a href="javascript:;">
                                        <span class="badge bg-red pull-right">50%</span>
                                        <span>Settings</span>
                                    </a>
                                </li>
                                <li><a href="javascript:;">Help</a></li>
                                <li><a href="login.html"><i class="fa fa-sign-out pull-right"></i> Log Out</a></li>
                            </ul>
                        </li>

                        <li role="presentation" class="dropdown">
                            <a href="javascript:;" class="dropdown-toggle info-number" data-toggle="dropdown" aria-expanded="false">
                                <i class="fa fa-envelope-o"></i>
                                <span class="badge bg-green">6</span>
                            </a>
                            <ul id="menu1" class="dropdown-menu list-unstyled msg_list" role="menu">
                                <li>
                                    <a>
                                        <span class="image"><img src="images/default_user.png" alt="Profile Image" /></span>
                                        <span>
                          <span>John Smith</span>
                          <span class="time">3 mins ago</span>
                        </span>
                                        <span class="message">
                          Film festivals used to be do-or-die moments for movie makers. They were where...
                        </span>
                                    </a>
                                </li>
                                <li>
                                    <a>
                                        <span class="image"><img src="images/default_user.png" alt="Profile Image" /></span>
                                        <span>
                          <span>John Smith</span>
                          <span class="time">3 mins ago</span>
                        </span>
                                        <span class="message">
                          Film festivals used to be do-or-die moments for movie makers. They were where...
                        </span>
                                    </a>
                                </li>
                                <li>
                                    <a>
                                        <span class="image"><img src="images/default_user.png" alt="Profile Image" /></span>
                                        <span>
                          <span>John Smith</span>
                          <span class="time">3 mins ago</span>
                        </span>
                                        <span class="message">
                          Film festivals used to be do-or-die moments for movie makers. They were where...
                        </span>
                                    </a>
                                </li>
                                <li>
                                    <a>
                                        <span class="image"><img src="images/default_user.png" alt="Profile Image" /></span>
                                        <span>
                          <span>John Smith</span>
                          <span class="time">3 mins ago</span>
                        </span>
                                        <span class="message">
                          Film festivals used to be do-or-die moments for movie makers. They were where...
                        </span>
                                    </a>
                                </li>
                                <li>
                                    <div class="text-center">
                                        <a>
                                            <strong>See All Alerts</strong>
                                            <i class="fa fa-angle-right"></i>
                                        </a>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        <!-- /top navigation -->

        <!-- page content -->
        <div class="right_col" role="main">
            <div class="">
                <div class="page-title">
                    <div class="title_left">
                        <h3>Projects <small>All Projects</small></h3>
                    </div>

                    <div class="title_right">
                        <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Search for...">
                                <span class="input-group-btn">
                      <button class="btn btn-default" type="button">Go!</button>
                    </span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="clearfix"></div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="x_panel">
                            <div class="x_title">
                                <h2>Projects</h2>
                                <ul class="nav navbar-right panel_toolbox">
                                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                    </li>
                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                                        <ul class="dropdown-menu" role="menu">
                                            <li><a href="#">Settings 1</a>
                                            </li>
                                            <li><a href="#">Settings 2</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <!--<li><a class="close-link"><i class="fa fa-close"></i></a>-->
                                    <li><a href="project_creation.html"><span class="docs-tooltip" data-toggle="tooltip" title="New Project"><i class="fa fa-plus"></i></span></a></li>
                                </ul>
                                <div class="clearfix"></div>
                            </div>
                            <div class="x_content">

                                <p>Simple table with project listing with progress and editing options</p>

                                <!-- start project list -->
                                <table class="table table-striped projects">
                                    <thead>
                                    <tr>
                                        <th style="width: 1%">#</th>
                                        <th style="width: 20%">Project Name</th>
                                        <th>Team Members</th>
                                        <th>Project Progress</th>
                                        <th>Status</th>
                                        <th style="width: 20%">#Edit</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>#</td>
                                        <td>
                                            <a>Pesamakini Backend UI 1</a>
                                            <br />
                                            <small>Created 01.01.2015</small>
                                        </td>
                                        <td>
                                            <ul class="list-inline">
                                                <li>
                                                    <img src="images/user.png" class="avatar" alt="Avatar">
                                                </li>
                                                <li>
                                                    <img src="images/user.png" class="avatar" alt="Avatar">
                                                </li>
                                                <li>
                                                    <img src="images/user.png" class="avatar" alt="Avatar">
                                                </li>
                                                <li>
                                                    <img src="images/user.png" class="avatar" alt="Avatar">
                                                </li>
                                                <li>
                                                    <img src="images/user.png" class="avatar" alt="Avatar">
                                                </li>
                                                <li>
                                                    <img src="images/user.png" class="avatar" alt="Avatar">
                                                </li>
                                                <li>
                                                    <img src="images/user.png" class="avatar" alt="Avatar">
                                                </li>

                                                <!--<li>-->
                                                <!--<img src="images/default_user.png" class="avatar" alt="Avatar">-->
                                                <!--</li>-->
                                                <!--<li>-->
                                                <!--<img src="images/default_user.png" class="avatar" alt="Avatar">-->
                                                <!--</li>-->
                                                <!--<li>-->
                                                <!--<img src="images/default_user.png" class="avatar" alt="Avatar">-->
                                                <!--</li>-->
                                                <!--<li>-->
                                                <!--<img src="images/default_user.png" class="avatar" alt="Avatar">-->
                                                <!--</li>-->
                                                <!--<li>-->
                                                <!--<img src="images/default_user.png" class="avatar" alt="Avatar">-->
                                                <!--</li>-->
                                                <!--<li>-->
                                                <!--<img src="images/default_user.png" class="avatar" alt="Avatar">-->
                                                <!--</li>-->
                                                <!--<li>-->
                                                <!--<img src="images/default_user.png" class="avatar" alt="Avatar">-->
                                                <!--</li>-->
                                            </ul>
                                        </td>
                                        <td class="project_progress">
                                            <div class="progress progress_sm">
                                                <div class="progress-bar bg-green" role="progressbar" data-transitiongoal="57"></div>
                                            </div>
                                            <small>57% Complete</small>
                                        </td>
                                        <td>
                                            <button type="button" class="btn btn-success btn-xs">Success</button>
                                        </td>
                                        <td>
                                            <a href="#" class="btn btn-primary btn-xs"><i class="fa fa-folder"></i> View </a>
                                            <a href="#" class="btn btn-info btn-xs"><i class="fa fa-pencil"></i> Edit </a>
                                            <a href="#" class="btn btn-danger btn-xs"><i class="fa fa-trash-o"></i> Delete </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>#</td>
                                        <td>
                                            <a>Pesamakini Backend UI 2</a>
                                            <br />
                                            <small>Created 01.01.2015</small>
                                        </td>
                                        <td>
                                            <ul class="list-inline">
                                                <li>
                                                    <img src="images/user.png" class="avatar" alt="Avatar">
                                                </li>
                                                <li>
                                                    <img src="images/user.png" class="avatar" alt="Avatar">
                                                </li>
                                            </ul>
                                        </td>
                                        <td class="project_progress">
                                            <div class="progress progress_sm">
                                                <div class="progress-bar bg-green" role="progressbar" data-transitiongoal="47"></div>
                                            </div>
                                            <small>47% Complete</small>
                                        </td>
                                        <td>
                                            <button type="button" class="btn btn-success btn-xs">Success</button>
                                        </td>
                                        <td>
                                            <a href="#" class="btn btn-primary btn-xs"><i class="fa fa-folder"></i> View </a>
                                            <a href="#" class="btn btn-info btn-xs"><i class="fa fa-pencil"></i> Edit </a>
                                            <a href="#" class="btn btn-danger btn-xs"><i class="fa fa-trash-o"></i> Delete </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>#</td>
                                        <td>
                                            <a>Pesamakini Backend UI 3</a>
                                            <br />
                                            <small>Created 01.01.2015</small>
                                        </td>
                                        <td>
                                            <ul class="list-inline">
                                                <li>
                                                    <img src="images/user.png" class="avatar" alt="Avatar">
                                                </li>
                                                <li>
                                                    <img src="images/user.png" class="avatar" alt="Avatar">
                                                </li>
                                                <li>
                                                    <img src="images/user.png" class="avatar" alt="Avatar">
                                                </li>
                                            </ul>
                                        </td>
                                        <td class="project_progress">
                                            <div class="progress progress_sm">
                                                <div class="progress-bar bg-green" role="progressbar" data-transitiongoal="77"></div>
                                            </div>
                                            <small>77% Complete</small>
                                        </td>
                                        <td>
                                            <button type="button" class="btn btn-success btn-xs">Success</button>
                                        </td>
                                        <td>
                                            <a href="#" class="btn btn-primary btn-xs"><i class="fa fa-folder"></i> View </a>
                                            <a href="#" class="btn btn-info btn-xs"><i class="fa fa-pencil"></i> Edit </a>
                                            <a href="#" class="btn btn-danger btn-xs"><i class="fa fa-trash-o"></i> Delete </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>#</td>
                                        <td>
                                            <a>Pesamakini Backend UI 4</a>
                                            <br />
                                            <small>Created 01.01.2015</small>
                                        </td>
                                        <td>
                                            <ul class="list-inline">
                                                <li>
                                                    <img src="images/user.png" class="avatar" alt="Avatar">
                                                </li>
                                                <li>
                                                    <img src="images/user.png" class="avatar" alt="Avatar">
                                                </li>
                                                <li>
                                                    <img src="images/user.png" class="avatar" alt="Avatar">
                                                </li>
                                                <li>
                                                    <img src="images/user.png" class="avatar" alt="Avatar">
                                                </li>
                                            </ul>
                                        </td>
                                        <td class="project_progress">
                                            <div class="progress progress_sm">
                                                <div class="progress-bar bg-green" role="progressbar" data-transitiongoal="60"></div>
                                            </div>
                                            <small>60% Complete</small>
                                        </td>
                                        <td>
                                            <button type="button" class="btn btn-success btn-xs">Success</button>
                                        </td>
                                        <td>
                                            <a href="#" class="btn btn-primary btn-xs"><i class="fa fa-folder"></i> View </a>
                                            <a href="#" class="btn btn-info btn-xs"><i class="fa fa-pencil"></i> Edit </a>
                                            <a href="#" class="btn btn-danger btn-xs"><i class="fa fa-trash-o"></i> Delete </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>#</td>
                                        <td>
                                            <a>Pesamakini Backend UI 5</a>
                                            <br />
                                            <small>Created 01.01.2015</small>
                                        </td>
                                        <td>
                                            <ul class="list-inline">
                                                <li>
                                                    <img src="images/user.png" class="avatar" alt="Avatar">
                                                </li>
                                                <li>
                                                    <img src="images/user.png" class="avatar" alt="Avatar">
                                                </li>
                                                <li>
                                                    <img src="images/user.png" class="avatar" alt="Avatar">
                                                </li>
                                            </ul>
                                        </td>
                                        <td class="project_progress">
                                            <div class="progress progress_sm">
                                                <div class="progress-bar bg-green" role="progressbar" data-transitiongoal="12"></div>
                                            </div>
                                            <small>12% Complete</small>
                                        </td>
                                        <td>
                                            <button type="button" class="btn btn-success btn-xs">Success</button>
                                        </td>
                                        <td>
                                            <a href="#" class="btn btn-primary btn-xs"><i class="fa fa-folder"></i> View </a>
                                            <a href="#" class="btn btn-info btn-xs"><i class="fa fa-pencil"></i> Edit </a>
                                            <a href="#" class="btn btn-danger btn-xs"><i class="fa fa-trash-o"></i> Delete </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>#</td>
                                        <td>
                                            <a>Pesamakini Backend UI 6</a>
                                            <br />
                                            <small>Created 01.01.2015</small>
                                        </td>
                                        <td>
                                            <ul class="list-inline">
                                                <li>
                                                    <img src="images/user.png" class="avatar" alt="Avatar">
                                                </li>
                                                <li>
                                                    <img src="images/user.png" class="avatar" alt="Avatar">
                                                </li>
                                                <li>
                                                    <img src="images/user.png" class="avatar" alt="Avatar">
                                                </li>
                                                <li>
                                                    <img src="images/user.png" class="avatar" alt="Avatar">
                                                </li>
                                            </ul>
                                        </td>
                                        <td class="project_progress">
                                            <div class="progress progress_sm">
                                                <div class="progress-bar bg-green" role="progressbar" data-transitiongoal="35"></div>
                                            </div>
                                            <small>35% Complete</small>
                                        </td>
                                        <td>
                                            <button type="button" class="btn btn-success btn-xs">Success</button>
                                        </td>
                                        <td>
                                            <a href="#" class="btn btn-primary btn-xs"><i class="fa fa-folder"></i> View </a>
                                            <a href="#" class="btn btn-info btn-xs"><i class="fa fa-pencil"></i> Edit </a>
                                            <a href="#" class="btn btn-danger btn-xs"><i class="fa fa-trash-o"></i> Delete </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>#</td>
                                        <td>
                                            <a>Pesamakini Backend UI 7</a>
                                            <br />
                                            <small>Created 01.01.2015</small>
                                        </td>
                                        <td>
                                            <ul class="list-inline">
                                                <li>
                                                    <img src="images/user.png" class="avatar" alt="Avatar">
                                                </li>
                                                <li>
                                                    <img src="images/user.png" class="avatar" alt="Avatar">
                                                </li>
                                            </ul>
                                        </td>
                                        <td class="project_progress">
                                            <div class="progress progress_sm">
                                                <div class="progress-bar bg-green" role="progressbar" data-transitiongoal="87"></div>
                                            </div>
                                            <small>87% Complete</small>
                                        </td>
                                        <td>
                                            <button type="button" class="btn btn-success btn-xs">Success</button>
                                        </td>
                                        <td>
                                            <a href="#" class="btn btn-primary btn-xs"><i class="fa fa-folder"></i> View </a>
                                            <a href="#" class="btn btn-info btn-xs"><i class="fa fa-pencil"></i> Edit </a>
                                            <a href="#" class="btn btn-danger btn-xs"><i class="fa fa-trash-o"></i> Delete </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>#</td>
                                        <td>
                                            <a>Pesamakini Backend UI</a>
                                            <br />
                                            <small>Created 01.01.2015</small>
                                        </td>
                                        <td>
                                            <ul class="list-inline">
                                                <li>
                                                    <img src="images/user.png" class="avatar" alt="Avatar">
                                                </li>
                                                <li>
                                                    <img src="images/user.png" class="avatar" alt="Avatar">
                                                </li>
                                                <li>
                                                    <img src="images/user.png" class="avatar" alt="Avatar">
                                                </li>
                                            </ul>
                                        </td>
                                        <td class="project_progress">
                                            <div class="progress progress_sm">
                                                <div class="progress-bar bg-green" role="progressbar" data-transitiongoal="77"></div>
                                            </div>
                                            <small>77% Complete</small>
                                        </td>
                                        <td>
                                            <button type="button" class="btn btn-success btn-xs">Success</button>
                                        </td>
                                        <td>
                                            <a href="#" class="btn btn-primary btn-xs"><i class="fa fa-folder"></i> View </a>
                                            <a href="#" class="btn btn-info btn-xs"><i class="fa fa-pencil"></i> Edit </a>
                                            <a href="#" class="btn btn-danger btn-xs"><i class="fa fa-trash-o"></i> Delete </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>#</td>
                                        <td>
                                            <a>Pesamakini Backend UI</a>
                                            <br />
                                            <small>Created 01.01.2015</small>
                                        </td>
                                        <td>
                                            <ul class="list-inline">
                                                <li>
                                                    <img src="images/user.png" class="avatar" alt="Avatar">
                                                </li>
                                                <li>
                                                    <img src="images/user.png" class="avatar" alt="Avatar">
                                                </li>
                                                <li>
                                                    <img src="images/user.png" class="avatar" alt="Avatar">
                                                </li>
                                                <li>
                                                    <img src="images/user.png" class="avatar" alt="Avatar">
                                                </li>
                                            </ul>
                                        </td>
                                        <td class="project_progress">
                                            <div class="progress progress_sm">
                                                <div class="progress-bar bg-green" role="progressbar" data-transitiongoal="77"></div>
                                            </div>
                                            <small>77% Complete</small>
                                        </td>
                                        <td>
                                            <button type="button" class="btn btn-success btn-xs">Success</button>
                                        </td>
                                        <td>
                                            <a href="#" class="btn btn-primary btn-xs"><i class="fa fa-folder"></i> View </a>
                                            <a href="#" class="btn btn-info btn-xs"><i class="fa fa-pencil"></i> Edit </a>
                                            <a href="#" class="btn btn-danger btn-xs"><i class="fa fa-trash-o"></i> Delete </a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                                <!-- end project list -->

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /page content -->

        <!-- footer content -->
        <footer>
            <div class="pull-right">
                Gentelella - Bootstrap Admin Template by <a href="https://colorlib.com">Colorlib</a>
            </div>
            <div class="clearfix"></div>
        </footer>
        <!-- /footer content -->
    </div>
</div>

<%- include('footer'); %>