<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>J3NS | Project Edit</title>

    <!-- Favicon -->
    <%- include('favicon'); %>

    <!-- Stylesheets -->
    <!-- Bootstrap -->
    <link href="vendors/bootstrap/dist/css/bootstrap.min.css" type="text/css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="vendors/font-awesome/css/font-awesome.min.css" type="text/css" rel="stylesheet">
    <!-- NProgress: Top load animation-->
    <link href="vendors/nprogress/nprogress.css" type="text/css" rel="stylesheet">
    <!-- Datatables -->
    <link href="vendors/datatables.net/datatables.net-bs/css/dataTables.bootstrap.min.css" type="text/css" rel="stylesheet">
    <link href="vendors/datatables.net/datatables.net-buttons-bs/css/buttons.bootstrap.min.css" type="text/css" rel="stylesheet">
    <link href="vendors/datatables.net/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css" type="text/css" rel="stylesheet">
    <link href="vendors/datatables.net/datatables.net-responsive-bs/css/responsive.bootstrap.min.css" type="text/css" rel="stylesheet">
    <link href="vendors/datatables.net/datatables.net-scroller-bs/css/scroller.bootstrap.min.css" type="text/css" rel="stylesheet">
    <!-- PNotify -->
    <link href="vendors/pnotify/dist/pnotify.css" type="text/css" rel="stylesheet">
    <link href="vendors/pnotify/dist/pnotify.buttons.css" type="text/css" rel="stylesheet">
    <link href="vendors/pnotify/dist/pnotify.nonblock.css" type="text/css" rel="stylesheet">
    <!-- Custom Theme Style -->
    <link href="stylesheets/custom.min.css" rel="stylesheet">
</head>
<body class="nav-md">
<div class="container body">
    <div class="main_container">
        <!-- Sidebar -->
        <%- include('sidebar'); %>

        <!-- top navigation -->
        <%- include('top_nav'); %>
        <!-- /top navigation -->

        <!-- page content -->
        <div class="right_col" role="main">
            <!--todo add project name to edit here-->
            <h2>Edit Project
                <!--<small id="project-name"> PROJECT NAME HERE</small>-->
            </h2>
            <hr/>
            <div class="clearfix"></div>
            <div class="row">
                <div class="col-md-6">
                    <label for="CurrentDeadline">Current Deadline: *</label>
                    <input style="margin-top: 10px" readonly type="text" id="CurrentDeadline" class="form-control" name="CurrentDeadline"/>
                </div>
                <div class="col-md-6">
                    <label for="ChangeDueDate">Change Deadline: *</label>
                    <input style="margin-top: 10px" type="date" id="ChangeDueDate" class="form-control" name="ChangeDueDate" required/>
                </div>


            </div>
            <br/>
            <div class="col-md-3">
                <input style="margin-bottom: 10px" id='updateProject' type='submit' class='btn btn-conf btn-dark docs-tooltip' data-toggle='tooltip' value='Extend Deadline'/>
            </div>


                <br/>
                <!-- TODO show this table once button is clicked-->
            <div id="EmpAllocationTableHideEdit">
                <div id="EmpAllocationDTEdit">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>Allocated Employees</h2>
                            <ul class="nav navbar-right panel_toolbox">
                                <li style="float: right;"><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
                            </ul>
                            <div class="clearfix"></div>
                        </div>
                        <div id="table_content" class="x_content">
                            <p class="text-muted font-13 m-b-30">
                                Below are the pre-selected employees that would best fit this project. Please select the employees you wish to replace and provide a reason for the replacement.
                            </p>
                            <table id="EmployeeAllocationDTEdit" class="table table-striped table-bordered bulk_action">
                                <thead>
                                <tr>
                                    <th><div class="text-center"><i class="fa fa-times" aria-hidden="true"></i></div></th>
                                    <th>Name</th>
                                    <th>Surname</th>
                                    <th>Position</th>
                                    <th>Employment Length</th>
                                    <th>Email</th>
                                </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div id="EmpReplacementTableHide">
                <div id="EmpReplacementDT">
                    <div class="x_panel">
                        <div id='employeeRemoveReason'>
                            <div>
                                <label for='empRemoval'>Reason/s for removing employee: *</label>
                                <textarea class='form-control' id='empRemoval' required='required' name='empRemoval'></textarea>
                            </div>
                        </div>
                        <div class="x_title">
                            <h2>Possible Replacement Employees</h2>
                            <ul class="nav navbar-right panel_toolbox">
                                <li style="float: right;"><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
                            </ul>
                            <div class="clearfix"></div>
                        </div>
                        <div id="table_content_Rep" class="x_content">
                            <p class="text-muted font-13 m-b-30">
                                Below are the pre-selected employee replacements that would best fit this project. Please select the employee(s) you wish to add and provide a reason for the replacement.
                            </p>
                            <table id="EmployeeReplacementDT" class="table table-striped table-bordered bulk_action">
                                <thead>
                                <tr>
                                    <th><div class="text-center"><i class="fa fa-times" aria-hidden="true"></i></div></th>
                                    <th>Name</th>
                                    <th>Surname</th>
                                    <th>Position</th>
                                    <th>Employment Length</th>
                                    <th>Email</th>
                                </tr>
                                </thead>
                            </table>
                            <div class='form-group'>
                                <div>
                                    <select type='text' id='director_select' class='form-control'>
                                        <optgroup label='Director' id='director'>
                                            <option disabled selected>Select Director</option>
                                        </optgroup>
                                    </select>
                                </div>
                            </div>
                            <br/>
                            <button id='removeEmployee' type='button' class='btn docs-tooltip btn-danger btn-round' data-toggle='tooltip' title='Remove selected employee/employees from project'>Remove Selection</button>
                        </div>
                    </div>
                </div>
            </div>
            </div>

        <!-- /page content -->

        <!-- footer content -->
        <footer>
            <div class="pull-right">
                Gentelella - Bootstrap Admin Template by <a href="https://colorlib.com">Colorlib</a>
            </div>
            <div class="clearfix"></div>
        </footer>
        <!-- /footer content -->
    </div>
</div>

<!--Vendors js files-->
<!-- jQuery -->
<script type="text/javascript" src="vendors/jquery/dist/jquery.min.js"></script>
<!-- Bootstrap -->
<script type="text/javascript" src="vendors/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- FastClick: Increase load time-->
<script type="text/javascript" src="vendors/fastclick/lib/fastclick.js"></script>
<!-- NProgress: Top load animation-->
<script type="text/javascript" src="vendors/nprogress/nprogress.js"></script>
<!-- Code 9 -->
<script type="text/javascript" src="vendors/Code-9/js/bottombar.js"></script>
<script type="text/javascript" src="vendors/Code-9/views/projEdit.js"></script>
<!-- Datatables -->
<script type="text/javascript" src="vendors/datatables.net/datatables.net/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="vendors/datatables.net/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
<script type="text/javascript" src="vendors/datatables.net/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
<script type="text/javascript" src="vendors/datatables.net/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>
<script type="text/javascript" src="vendors/datatables.net/datatables.net-buttons/js/buttons.flash.min.js"></script>
<script type="text/javascript" src="vendors/datatables.net/datatables.net-buttons/js/buttons.html5.min.js"></script>
<script type="text/javascript" src="vendors/datatables.net/datatables.net-buttons/js/buttons.print.min.js"></script>
<script type="text/javascript" src="vendors/datatables.net/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js"></script>
<script type="text/javascript" src="vendors/datatables.net/datatables.net-keytable/js/dataTables.keyTable.min.js"></script>
<script type="text/javascript" src="vendors/datatables.net/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
<script type="text/javascript" src="vendors/datatables.net/datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>
<script type="text/javascript" src="vendors/datatables.net/datatables.net-scroller/js/dataTables.scroller.min.js"></script>
<script type="text/javascript" src="vendors/datatables.net/jszip/dist/jszip.min.js"></script>
<script type="text/javascript" src="vendors/datatables.net/pdfmake/build/pdfmake.min.js"></script>
<script type="text/javascript" src="vendors/datatables.net/pdfmake/build/vfs_fonts.js"></script>
<!-- PNotify -->
<script type="text/javascript" src="vendors/pnotify/dist/pnotify.js"></script>
<script type="text/javascript" src="vendors/pnotify/dist/pnotify.buttons.js"></script>
<script type="text/javascript" src="vendors/pnotify/dist/pnotify.nonblock.js"></script>
<!-- Custom Theme Scripts -->
<script type="text/javascript" src="javascripts/custom.js"></script>
</body>
</html>
