<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>KPMG | Project Details</title>

    <!-- Favicon -->
    <%- include('favicon'); %>

    <!-- Bootstrap -->
    <link href="vendors/bootstrap/dist/css/bootstrap.min.css" type="text/css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="vendors/font-awesome/css/font-awesome.min.css" type="text/css" rel="stylesheet">
    <!-- Code 9-->
    <link href="vendors/Code-9/css/code9.css" type="text/css" rel="stylesheet">
    <!-- NProgress: Top load animation -->
    <link href="vendors/nprogress/nprogress.css" type="text/css" rel="stylesheet">
    <!-- Dropzone.js -->
    <!--<link href="vendors-sort/dropzone/dist/min/dropzone.min.css" rel="stylesheet">-->
    <!-- Bootstrap Multi-select-->
    <link href="vendors/bootstrap-multiselect/dist/css/bootstrap-multiselect.css" type="text/css" rel="stylesheet"/>

    <!-- Custom Theme Style -->
    <link href="stylesheets/custom.min.css" type="text/css" rel="stylesheet">
</head>

<body class="nav-md">
<div class="container body">
    <div class="main_container">
        <!-- Sidebar -->
        <%- include('sidebar'); %>

        <!-- top navigation -->
        <%- include('top_nav'); %>
        <!-- /top navigation -->

        <!-- page content -->
        <div class="right_col" role="main">
            <div class="">
                <div class="page-title">
                    <div class="title_left">
                        <h3>Project Details</h3>
                    </div>
                </div>

                <div class="clearfix"></div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="x_panel">
                            <div class="x_title">
                                <h2 id="project_name"></h2>
                                <div class="clearfix"></div>
                            </div>

                            <div class="x_content">

                                <div class="col-md-9 col-sm-9 col-xs-12">

                                    <ul class="stats-overview">
                                        <li>
                                            <span class="name"> Estimated budget </span>
                                            <span id="budget" class="value text-success">  </span>
                                        </li>
                                        <li>
                                            <span class="name"> Project start date </span>
                                            <span id="start_date" class="value text-success">  </span>
                                        </li>
                                        <li class="hidden-phone">
                                            <span class="name"> Project end date </span>
                                            <span id="end_date" class="value text-success">  </span>
                                        </li>
                                    </ul>
                                    <br />

                                    <div id="mainb" style="height:350px;"></div>

                                    <div>
                                        <div class="panel">
                                            <div class="col-md-6">
                                                <div class="todolist not-done">
                                                    <h1>Create Todos</h1>
                                                    <div class="form-group">
                                                        <div class="col-md-12 col-sm-12 col-xs-12">
                                                            <input type="text" class="form-control add-todo" placeholder="Add todo">
                                                        </div>
                                                    </div>
                                                    <br/>
                                                    <br/>
                                                    <div class="form-group">
                                                        <div class="col-md-12 col-sm-12 col-xs-12">
                                                            <select type="text" class="form-control">
                                                                <optgroup label="Milestones">
                                                                    <option disabled selected>Select Milestone</option>
                                                                </optgroup>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <br/>
                                                    <br/>
                                                    <div class="form-group">
                                                        <div class="col-md-12 col-sm-12">
                                                            <div class="scrollable">
                                                                <select id="AllocateTask" class="multiselect-ui form-control" multiple="multiple">
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <br/>
                                                    <br/>
                                                    <button style="margin-left: 10px; margin-top: 10px" id="submit-task" class="btn btn-dark">Create Task</button>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="todolist not-done">
                                                    <h1>Current Todos</h1>
                                                    <ul id="sortable" class="list-unstyled">
                                                        <li class="ui-state-default">
                                                            <div class="checkbox">
                                                                <label>
                                                                    <input type="checkbox" value="" />Take out the trash</label>
                                                            </div>
                                                        </li>
                                                        <li class="ui-state-default">
                                                            <div class="checkbox">
                                                                <label>
                                                                    <input type="checkbox" value="" />Buy bread</label>
                                                            </div>
                                                        </li>
                                                        <li class="ui-state-default">
                                                            <div class="checkbox">
                                                                <label>
                                                                    <input type="checkbox" value="" />Teach penguins to fly</label>
                                                            </div>
                                                        </li>
                                                    </ul>
                                                    <div class="todo-footer">
                                                        <strong><span class="count-todos"></span></strong> Items Left
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12 col-sm-12">
                                            <hr/>
                                            <div class="todolist" style="border-right: none">
                                                <h1>Completed</h1>
                                                <ul id="done-items" class="list-unstyled">
                                                    <li>Some item <button class="remove-item btn btn-default btn-xs pull-right"><span class="glyphicon glyphicon-remove"></span></button></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <!-- end of user messages -->
                                    </div>
                                </div>

                                <!-- start project-detail sidebar -->
                                <div class="col-md-3 col-sm-3 col-xs-12">

                                    <section class="panel">

                                        <div class="x_title">
                                            <h2>Project Description</h2>
                                            <div class="clearfix"></div>
                                        </div>
                                        <div class="panel-body">
                                            <!--<img src="images/logo/KPMG_blue_logo_Rec.svg.png" width="100px" height=40px">-->

                                            <p id="description"> </p>
                                            <br />

                                            <div class="project_detail">

                                                <p class="title">Client Company</p>
                                                <p id="project_owner"></p>
                                                <p class="title">Client Email</p>
                                                <p id="owner_email"></p>
                                                <p class="title">Client Contact Number</p>
                                                <p id="owner_contact"></p>
                                            </div>

                                            <br />
                                            <!--<h5>Project files</h5>-->
                                            <!--<ul class="list-unstyled project_files">-->
                                                <!--<li><a href=""><i class="fa fa-file-word-o"></i> Functional-requirements.docx</a>-->
                                                <!--</li>-->
                                                <!--<li><a href=""><i class="fa fa-file-pdf-o"></i> UAT.pdf</a>-->
                                                <!--</li>-->
                                                <!--<li><a href=""><i class="fa fa-mail-forward"></i> Email-from-flatbal.mln</a>-->
                                                <!--</li>-->
                                                <!--<li><a href=""><i class="fa fa-picture-o"></i> Logo.png</a>-->
                                                <!--</li>-->
                                                <!--<li><a href=""><i class="fa fa-file-word-o"></i> Contract-10_12_2014.docx</a>-->
                                                <!--</li>-->
                                            <!--</ul>-->
                                            <br />

                                            <div class="text-center mtop20">
                                                <a href="#" class="btn btn-sm btn-primary">Add files</a>
                                                <!--<a href="#" class="btn btn-sm btn-warning">Report contact</a>-->
                                            </div>
                                        </div>
                                    </section>

                                </div>
                                <!-- end project-detail sidebar -->

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /page content -->

        <!-- footer content -->
        <footer>
            <div class="pull-right">
                Gentelella - Bootstrap Admin Template by <a href="https://colorlib.com">Colorlib</a>
            </div>
            <div class="clearfix"></div>
        </footer>
        <!-- /footer content -->
    </div>
</div>

        <!-- jQuery -->
        <script type="text/javascript" src="vendors/jquery/dist/jquery.min.js"></script>
        <!-- jQuery UI -->
        <script type="text/javascript" src="vendors/jquery-ui-1.12.1/jquery-ui.min.js"></script>
        <!-- Bootstrap -->
        <script type="text/javascript" src="vendors/bootstrap/dist/js/bootstrap.min.js"></script>
        <!-- Bootstrap multi-select -->
        <script type="text/javascript" src="vendors/bootstrap-multiselect/dist/js/bootstrap-multiselect.js"></script>
        <!-- Code 9 -->
        <script type="text/javascript" src="vendors/Code-9/js/code9.js"></script>
        <script type="text/javascript" src="vendors/Code-9/views/project_view.js"></script>
        <script type="text/javascript" src="vendors/Code-9/js/fullscreen.js"></script>
        <!-- FastClick: Increase load time-->
        <script type="text/javascript" src="vendors/fastclick/lib/fastclick.js"></script>
        <!-- NProgress: Top load animation-->
        <script type="text/javascript" src="vendors/nprogress/nprogress.js"></script>
        <!-- ECharts -->
        <script type="text/javascript" src="vendors/echarts/dist/echarts.min.js"></script>
        <!-- Dropzone.js -->
        <!--<script src="vendors-sort/dropzone/dist/min/dropzone.min.js"></script>-->

        <!-- Custom Theme Scripts -->
        <script type="text/javascript" src="javascripts/custom.js"></script>
    </body>
</html>