<div class="col-md-3 left_col">
    <div class="left_col scroll-view">
        <!-- KPMG Logo Side Bar-->
        <div class="navbar nav_title" style="border: 0;">
            <a href="#" class="site_title"><img src="images/logo/logo-white.png" width="145px" height="90px"></a>
        </div>

        <div class="clearfix"></div>

        <!-- menu profile quick info -->
        <div class="profile clearfix">
            <div class="profile_pic">
                <img src="images/default_user.png" alt="..." class="img-circle profile_img">
            </div>
            <div class="profile_info">
                <span>Welcome</span>
                <span class="username"></span>
            </div>
        </div>
        <!-- /menu profile quick info -->
        <br/>

        <!-- sidebar menu -->
        <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
            <div class="menu_section">
                <h3>General</h3>
                <ul class="nav side-menu">
                    <li><a><i class="fa fa-home"></i> Home <span class="fa fa-chevron-down"></span></a>
                        <ul id="home" class="nav child_menu">

                        </ul>
                    </li>
                    <li><a><i class="fa fa-user"></i> Admin <span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu" id="menu">
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <!-- /sidebar menu -->

        <!-- /menu footer buttons -->
        <div class="sidebar-footer hidden-small">
            <!--<a data-toggle="tooltip" data-placement="top" title="Settings">-->
                <!--<span class="glyphicon glyphicon-cog" aria-hidden="true"></span>-->
            <!--</a>-->
            <a data-toggle="tooltip" onclick="toggleFullScreen()" data-placement="top" title="FullScreen">
                <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
            </a>
            <a data-toggle="tooltip" onclick="invertWebsite()" data-placement="top" title="Invert Colours">
                <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
            </a>
            <a data-toggle="tooltip" data-placement="top" title="Logout" href="logout">
                <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
            </a>
        </div>
        <!-- /menu footer buttons -->
    </div>
</div>

<!-- jQuery -->
<script src="vendors/jquery/dist/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $.get("role",
            {}, function (data, status) {

                if (data === "Manager") {
                    $("#menu").append(
                        "<li><a href='project_creation'>Add Project</a></li>" +
                        "<li><a href='projects'>View All Projects</a></li>"+
                        "<li><a href='display_reviews'>View All Projects To Review</a></li>"
                    );
                    $("#home").append("<li><a href='manager_calendar'>Calendar</a></li>")+
                    "<li><a href='profile'>Profile</a></li>";
                }
                else if (data === "Admin") {
                    $("#menu").append(
                        "<li><a href='admin'>Register Employee</a></li>" +
                        "<li><a href='employees'>Show All Employees</a></li>"+
                        "<li><a href='training'>Create Training Event</a></li>"
                    );
                    $("#home").append("<li><a href='manager_calendar'>Calendar</a></li>"+
                        "<li><a href='profile'>Profile</a></li>");
                }
                else if(data==="Employee"){
                    $("#home").append(
                        "<li><a href='user_dashboard'>Dashboard</a></li>" +
                        "<li><a href='calendar'>Calendar</a></li>"
                    );
                    $("#menu").append(
                        "<li><a href='profile'>Profile</a></li>"
                    );
                }
                else{
                    $("#home").append(
                        "<li><a href='director_dashboard'>Dashboard</a></li>"+
                       "<li><a href='manager_calendar'>Calendar</a></li>"
                    );
                    $("#menu").append(
                        "<li><a href='profile'>Profile</a></li>"+
                        "<li><a href='approvals'>Approval Page</a></li>"
                    );
                }
            });
    });
</script>